body {
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    font-family: 'Alegreya', serif;
}

nav .button {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    color: rgb(41, 211, 197);
    border: 0.5px solid;
}

.stopwatch {
    font-size: 50px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    background-color: rgba(207, 243, 241, 0.774);
    width: 300px;
}